.about {
    margin-bottom: 20px
}

.section-title h2 {
    color: #280753
}

.section-title p {
    text-indent: 40px;
    letter-spacing: 2px;
    color: #1e2699
}

.section-title h3 {
    color: #280753
}

.row h3 {
    color: #280753
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center
}

.about .content ul li strong {
    color: #b79dda
}

.Contect {
    background: #0ed9e7;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px
}

.Contect-info {
    color: #280753
}

.Contect .label {
    color: #fcae1f !important;
    font-size: 25px;
    padding-bottom: 12px
}

.section-title {
    padding-top: 25px;
    padding-bottom: 25px
}

.Contact-info h4 {
    padding: 25px;
    color: orange
}

.Contact-info h4 i {
    color: #000
}

.Contact-info h6 {
    padding: 25px;
    padding-right: 30px !important
}

.contect-item {
    border-radius: 25px !important;
    width: 40px !important;
    height: 40px !important;
    background: 0 0;
    border: 2px solid #280753
}

.contect-item:hover {
    background: #404d4e;
    color: #000;
    box-shadow: 0 0 20px #404d4e
}

.contect-labelndID {
    font-size: 25px;
    font-family: 'Playpen Sans', cursive;
    font-family: Poppins, sans-serif
}

.contect-label {
    color: #eb5c23
}

.Home {
    background: url(https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?w=740&t=st=1698030218~exp=1698030818~hmac=71c6341c8c0e11c743b9e8e1b5e804c46452f7b142c5ed10efa96083886e5448);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px
}

.navbar-nav>li {
    margin-left: 30px;
    margin-right: 30px
}

.navbar-brand {
    font-weight: 600;
    font-size: 25px
}

.nav-item {
    font-weight: 500;
    /* text-transform: uppercase;
    letter-spacing: 0.15em; */
    position: relative;
    font-size: 25px;
    opacity: .6;
    transition: .3s;
    transform-origin: bottom right;
    transition: width .3s ease 0s, left .3s ease 0s
}

.nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0ef;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    navbar-nav {
        margin-top: 40px;
    }
}

.nav-item a:hover {
    color: #0ef;
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
    width: 100%
}

.Hussain_Hero {
    color: #f0f8ff
}

.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: 0 0;
    border: 2px solid #0ef;
    border-radius: 50px;
    font-size: 20px;
    color: #faf6f7;
    text-decoration: none;
    margin: 30px 15px 30px 0
}

.docker {
    color: pink
}

.social-media a:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef
}

.social-Mcaption {
    font-weight: 700;
    font-size: large
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #0ef;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1
}

.btn-box:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef
}

.resume {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto
}

.resume-title {
    color: #fcae1f !important;
    padding-top: 5px
}

.project .li {
    color: #282828
}

.Decor {
    text-decoration: none
}

.resume .resume-item {
    border-left: 3px solid #0ef;
    border-radius: 12px
}

.resume .resume-item:hover {
    color: #0ff
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    transition: .5s
}

card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.Skill-part {
    background-color: #dcbef5;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px
}

.Skill-measure {
    padding-top: 10px
}

.Skill-measure label {
    color: #0ef;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px
}

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    align-items: center;
    justify-content: center !important
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    color: #ee0909;
    text-transform: uppercase;
    margin: 20px 0
}

.skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px
}

.skill-per {
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%)
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px
}

.Decor {
    color: orange;
    font-weight: bold;

}

.toast-body {
    color: rgb(16, 219, 26);
    font-weight: bold;
}

@keyframes fillBars {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

* {
    margin: 0;
    padding: 0
}