/* ---------About start----------------- */
.about {
    margin-bottom: 20px;
}

.section-title h2 {
    color: rgb(40, 7, 83);

}

.section-title p {
    text-indent: 40px;
    letter-spacing: 2px;
    color: rgb(30, 38, 153);
}

.section-title h3 {
    color: rgb(40, 7, 83);

}

.row h3 {
    color: rgb(40, 7, 83);
}

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about .content ul li strong {
    color: rgb(183, 157, 218);
}

/* -------About End------------ */